{% extends "layout.html" %}

{% block title %}
 tweet
{% endblock %}

{% block contant %}
<div>
<h1 class = "text-center mt-4">welcome to Tweet-web</h1>
<h4 class = "text-center mt-2 "><i>" Jo likho dil se likho "</i></h4>

<a  class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create new Tweet</a>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for tweet in tweets %}
        <div class="col">
            <div class="card h-100 w-100 shadow-sm">
                
                <!-- Image container with centering -->
                <div class="d-flex justify-content-center align-items-center bg-dark mt-2" style="height: 200px;">
                    <img src="{{ tweet.photo.url }}" class="img-fluid object-fit-contain h-100  rounded" alt="Tweet Image">
                </div>

                <!-- Card body -->
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                </div>

                {% if tweet.user == user %}
                
               

                <!-- Footer buttons -->
                <div class="card-footer bg-transparent border-0 d-flex gap-4">
                    <a href="{% url 'tweet_edite' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                </div>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


</div>

{% endblock  %}
